<div class="col-md-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Student Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Major</th>
        <th>College</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.id}}</td>
        <td>{{student.fname}}</td>
        <td>{{student.lname}}</td>
        <td>{{student.major}}</td>
        <td>{{student.college}}</td>
        <td><button class="btn btn-danger" (click)="deleteStudent(student)"> Delete Student</button></td>
      </tr>
    </tbody>
  </table>
</div>